
a:link, a:visited {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image:url("Green White School Supplies Zoom Background.png");
  background-color: #ffeebb;
  font-family: "Comic Sans MS", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff6666;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

h2 {
  color: #007acc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

p {
  margin: 0;
}

audio {
  display: block;
  margin: 10px auto;
  width: 80%;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #3e8e41;
}
.header {
  text-align: center;
}
.left {
  float: left;
}